@font-face {
  font-family: "Roboto Slab";
  src: url("./RobotoSlab-VariableFont_wght.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(218, 218, 218);
  font-family: "Roboto Slab", serif;
}
header h1 {
  margin: 20px;
}
section h2 {
  margin: 20px;
}
.grid-floats {
  margin: 20px;
}
li.grid-item {
  margin-bottom: 20px;
  border: 1px solid rgb(145, 145, 145);
  background-color: white;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out, box-shadow 0.5s ease-in-out;
}
.grid-floats > li.grid-item:hover {
  border: 1px solid rgb(0, 0, 0);
  opacity: 1;
  transform: scale(0.99);
  animation: flash 1.25s;
  box-shadow: 5px 5px 20px grey;
}
li img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
li p,
li h3 {
  padding: 10px;
}
li h3 {
  font-weight: 500;
}
li p {
  font-weight: 300;
}
li {
  list-style: none;
}

/* Flashing */
@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .grid-floats {
    overflow: hidden;
  }
  .grid-floats > li {
    float: left;
    width: 29%;
    height: 615px;
    margin-right: 20px;
  }
  .grid-floats li:first-child,
  .grid-floats li:nth-child(2) {
    width: 45%;
  }
  body {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .grid-floats {
    overflow: hidden;
  }
  .grid-floats > li {
    float: left;
    width: 22%;
    height: 650px;
    margin-right: 20px;
  }
  .grid-floats li:first-child {
    width: 46%;
  }
  body {
    margin-left: 20px;
  }
}
