:root{
  --fiery_coral: #FF424D;
  --brand_black: #141518;
}
body {
  background-color: #ffffff;
  color: var(--brand_black);
}
.nav-wrapper .row .col .brand-logo {
  color: var(--brand_black);
  /* margin-right: 20px;
  display: inline-block; */
}
.nav-wrapper .brand-logo img {
  height: 24px;
  width: 24px;
}

.nav-wrapper ul li {
  color: var(--brand_black);
  /* padding-left: 6px; */
  padding-right: 18px;
}
.nav-wrapper ul li .dropdown-trigger {
  color: var(--brand_black);
  /* padding-left: 6px; */
  padding-right: 18px;
}
.nav-wrapper > ul li > .dropdown-trigger {
  color: var(--brand_black);
  padding-left: 6px;
  padding-right: 18px;
}
ul .dropdown-content > li a {
  color: var(--brand_black);
}
/* .nav-wrapper form .input-field input {
  width: 237px;
  height: 20.45px;
  padding: 8px 12px;
} */
.nav-wrapper form .input-field {
  background-color: rgb(245, 244, 242);
  border-radius: 40px;
}
.nav-wrapper .btn-large {
  text-transform: none;
  border-radius: 30px;
  background-color: var(--fiery_coral);
  border: 2px solid transparent;
  box-shadow: none;
}
.nav-wrapper .btn-large:hover {
  color: var(--fiery_coral);
  border-color: var(--fiery_coral);
  background-color: #ffffff;
}
.sidenav-close i {
  font-size: xxx-large;
}
#landing {
  background-color: var(--brand_black);
}
#landing-text h1 {
  color: var(--fiery_coral);
  font-weight: 700;
}
#landing-text p {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 200;
}
#landing-text .btn-large {
  text-transform: none;
  border-radius: 30px;
  background-color: var(--fiery_coral);
  border: 1px solid var(--fiery_coral);
}
#landing-text .btn-large:hover {
  background-color: rgb(255, 53, 65);
}
#landing-text {
  padding-top: 88px;
  margin-top: 0;
  padding-bottom: 104px;
}
#landing-gif {
  padding-top: 104px;
  padding-bottom: 104px;
  position: relative;
  transition: transform 0.3s ease-in-out 0s;
}
#landing-gif .btn-floating {
  background-color: var(--fiery_coral);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* height: 77px;
  width: 77px; */
}
#landing-gif:hover {
  transform: scale(1.05);
}
#search-creators h3 {
  color: var(--brand_black);
  font-weight: 700;
  text-align: center;
}
#search-creators .btn-large {
  text-transform: none;
  border-radius: 30px;
  background-color: var(--fiery_coral);
  border: 1px solid var(--fiery_coral);
  box-shadow: none;
}
#search-creators form .input-field {
  background-color: rgb(245, 244, 242);
  border-radius: 30px;
}
#search-creators input[type=text]{
  border-bottom: none;
  outline: none;
}
#search-creators input[type=text]:focus{
  border-bottom: none;
  box-shadow: none;
}
.dropdown-content li > a, .dropdown-content li > span {
  color: var(--brand_black);
}
.autocomplete-content li .highlight {
  color: black;
  font-weight: bold;
}
#what-is-patreon h3 {
  color: var(--brand_black);
  font-weight: 700;
  text-align: center;
}
#what-is-patreon p {
  color: var(--brand_black);
  font-size: 1.5rem;
  font-weight: 250;
  text-align: center;
}
#photos h4 {
  color: var(--fiery_coral);
  font-weight: 700;
  text-align: left;
}
#photos p {
  color: var(--brand_black);
  font-size: 1.1rem;
  font-weight: 300;
  text-align: left;
}
#photos a {
  text-decoration: none;
}
#photos a:hover {
  text-decoration: underline;
  text-decoration-color: var(--fiery_coral);
  text-decoration-thickness: 2px;
}
#photos a > h6 {
  color: var(--brand_black);
  font-weight: bold;
}
#photos a > p {
  font-size: 0.95rem;
  margin-top: 8px;
}
#photos i {
  font-weight: 100;
  color: var(--fiery_coral);
  /* font-size: xxx-large; */
}
#photos .flex-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}








/* @font-face {
  font-family: aktiv-grotesk;
  src: url("https://c5.patreon.com/external/fonts/aktiv-grotesk/aktiv-grotesk-upright-variable-weight.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: aktiv-grotesk;
  src: url("https://c5.patreon.com/external/fonts/aktiv-grotesk/aktiv-grotesk-italics-variable-weight.woff2")
    format("woff2");
  font-style: oblique;
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: Walsheim;
  src: local("GT Walsheim"),
    url("https://c5.patreon.com/external/fonts/gt-walsheim/GT-Walsheim-Bold.woff2")
      format("woff2"),
    url("https://c5.patreon.com/external/fonts/gt-walsheim/GT-Walsheim-Bold.woff")
      format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
} */
